*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --body:#fff;

    --one:#fff;
    --two:#222;
}

body{
    background: var(--body);
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.home{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--two);
    color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}